.button-container {
    display: flex;
    flex-direction: column; 
    margin-top: 8px; 
  }
  
  button {
    
    width: 200px; 
    margin-bottom: 4px; 
    padding: 8px; 
    border-color:#FFA500;
  }
  
  .card {
    
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 302px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
    
  }
  
  .filter{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
      padding: 20px;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
  }
  
  .FiltriranaJela{
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      
  }
  
  .checkbox-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 20px;
    color: #FFA500;
  }
  
  .dugmici {
    display: none;
  }

  

  .card {
    display: flex;
    flex-direction: column; /* Svi elementi unutar kartice će biti poredani vertikalno */
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 5px;
  }

  .sastojci {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Obezbeđuje da stavke budu u jednoj koloni */
    max-height: 150px; /* Podesi maksimalnu visinu po potrebi */
    overflow-y: auto; /* Omogućava skrolovanje ako je lista veća od maksimalne visine */
    list-style: none; /* Uklanja oznake liste */
    padding: 0; /* Uklanja padding */
    margin-left: 18px;
    margin-bottom: 10px;
  }
  
  .sastojci li {
    margin: 4px 0; /* Razmak između stavki */
  }
  