
  
  .recipe-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .recipe-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .recipe-image {
    width: 100%;       /* Slika će zauzeti punu širinu roditeljskog elementa */
    height: auto;      /* Visina će se automatski prilagoditi */
    max-width: 300px;  /* Postavi maksimalnu širinu na 300px */
    border-radius: 10px;
    margin: 0 auto;    /* Centriranje slike */
    display: block;     /* Prikaz kao blok element */
  }
  
  
  .recipe-details {
    display: flex;
    flex-direction: column;
  }
  
  .ingredients-title,
  .instructions-title {
    font-size: 1.5em;
    margin: 20px 0 10px;
    color: #666;
  }
  
  .ingredients-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ingredients-list li {
    background: #f0f0f0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
  }
  
  .instructions {
    background: #f0f0f0;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    line-height: 1.5;
  }
  
  /* Loading and Error Styles */
  .loading,
  .error,
  .not-found {
    text-align: center;
    font-size: 1.5em;
    color: #ff4d4d;
    margin-top: 20px;
  }
  